.container-fluid {
	padding-top: 61px;
}

.font-title {
  font-size: 1.1rem;
}

.cursor {
	cursor: pointer;
}

.no-text-deco {
	text-decoration: none;
}

.answer-success {
	border-left: 4px solid #28a745;
}
.is-star {
	border-right: 4px solid #ffd970;
}