<div class="container-fluid">
  <div class="row py-3 justify-content-around">

    <div class="col-lg-8 d-flex flex-column">

      <div class="d-flex justify-content-start align-items-center font-title font-weight-light text-primary border-bottom pb-2 my-4">

        <span>Mes Questions</span>
        <span *ngIf="questions.length>0" class="ml-2 badge badge-primary">{{questions.length}}</span>

        <div *ngIf="questions.length>0" class="ml-auto">
          <button type="button" class="btn btn-link" matTooltip="Cartes" matTooltipPosition="above"
            (click)="changeDisplay(0)" [ngClass]="{ 'text-muted': displayOrder!==0}">
            <i class="fal fa-th-list fa-lg"></i>
          </button>
          <button type="button" class="btn btn-link" matTooltip="Liste" matTooltipPosition="above"
            (click)="changeDisplay(1)" [ngClass]="{ 'text-muted': displayOrder!==1}">
            <i class="fal fa-list-ul fa-lg"></i>
          </button>
        </div>

      </div>

      <div *ngIf="questions.length==0" class="row my-4">
        <div class="col-12 text-center">
          <p class="lead text-muted">Vous n'avez posé aucune question pour le moment.</p>
          <a routerLink="../create" class="btn btn-success mt-3">Nouvelle Question</a>
        </div>
      </div>

      <div *ngIf="questions.length>0" class="row">
        <div class="col-12">

          <ul class="nav nav-pills justify-content-center mb-4" id="questions-tab" role="tablist">
            <li class="nav-item cursor">
              <a class="nav-link active" routerLink id="questions-all-tab" data-toggle="pill" data-target="#questions-all" role="tab" aria-controls="questions-all" aria-selected="false">Toutes ({{questions.length}})</a>
            </li>
            <li *ngIf="waitingBest.length>0" class="nav-item cursor">
              <a class="nav-link" routerLink id="questions-waiting-best-tab" data-toggle="pill" data-target="#questions-waiting-best" role="tab" aria-controls="questions-waiting-best" aria-selected="true">En Attente ({{waitingBest.length}})</a>
            </li>
            <li *ngIf="noAnswer.length>0" class="nav-item cursor">
              <a class="nav-link" routerLink id="questions-no-answer-tab" data-toggle="pill" data-target="#questions-no-answer" role="tab" aria-controls="questions-no-answer" aria-selected="false">Sans Réponse ({{noAnswer.length}})</a>
            </li>
            <li *ngIf="hasBest.length>0" class="nav-item cursor">
              <a class="nav-link" routerLink id="questions-has-best-tab" data-toggle="pill" data-target="#questions-has-best" role="tab" aria-controls="questions-has-best" aria-selected="false">Avec Meilleure Réponse ({{hasBest.length}})</a>
            </li>
          </ul>

          <div class="tab-content" id="questions-tab-content">

            <div class="tab-pane fade show active" id="questions-all" role="tabpanel" aria-labelledby="questions-all-tab">
              
              <!-- Display as Cards -->
              <div class="row" *ngIf="displayOrder==0">
                <div class="col-12">

                  <a routerLink="../{{question._id}}" class="no-text-deco" *ngFor="let question of questions">
                    <app-card-question [question]="question"></app-card-question>
                  </a>

                </div>
              </div>
              <!-- End Display as Cards -->

              <!-- Display as List -->
              <div class="list-group list-group-flush" *ngIf="displayOrder==1">

                <a *ngFor="let question of questions" routerLink="../{{question._id}}"
                  class="list-group-item list-group-item-action d-flex justify-content-start align-items-center font-weight-light">
    
                  <i class="fa-lg fa-fw mr-2" aria-hidden="true" [ngClass]="question.hasBest ? 'fas fa-check text-success' : question.answers.length ? 'fal fa-comment-dots text-info' : 'fal fa-comment text-info'"></i>
    
                  <strong *ngIf="question.title" [ngClass]="{'text-success': question.hasBest}">{{question.title}}</strong>
                  <span *ngIf="!question.title" class="text-muted">Sans Titre</span>
                  <span class="ml-1 text-muted">&bull; {{question.createdAt | timeAgo}}</span>
    
                  <i *ngIf="isStar(question)" class="fas fa-star text-warning ml-2" aria-hidden="true"></i>
    
                  <div *ngIf="question.tags.length>0" class="ml-auto text-info">
                    <span class="ml-2" *ngFor="let tag of question.tags">{{tag}}</span>
                  </div>
    
                </a>
                
              </div>
              <!-- End Display as List -->

            </div>

            <div *ngIf="waitingBest.length>0" class="tab-pane fade" id="questions-waiting-best" role="tabpanel" aria-labelledby="questions-waiting-best-tab">
              
              <!-- Display as Cards -->
              <div class="row" *ngIf="displayOrder==0">
                <div class="col-12">

                  <a routerLink="../{{question._id}}" class="no-text-deco" *ngFor="let question of waitingBest">
                    <app-card-question [question]="question"></app-card-question>
                  </a>

                </div>
              </div>
              <!-- End Display as Cards -->

              <!-- Display as List -->
              <div class="list-group list-group-flush" *ngIf="displayOrder==1">

                <a *ngFor="let question of waitingBest" routerLink="../{{question._id}}"
                  class="list-group-item list-group-item-action d-flex justify-content-start align-items-center font-weight-light">
    
                  <i class="fa-lg fa-fw text-info mr-2" aria-hidden="true" [ngClass]="question.answers.length>0 ? 'fal fa-comment-dots' : 'fal fa-comment'"></i>
    
                  <strong *ngIf="question.title">{{question.title}}</strong>
                  <span *ngIf="!question.title" class="text-muted">Sans Titre</span>
                  <span class="ml-1 text-muted">&bull; {{question.createdAt | timeAgo}}</span>
    
                  <i *ngIf="isStar(question)" class="fas fa-star text-warning ml-2" aria-hidden="true"></i>
    
                  <div *ngIf="question.tags.length>0" class="ml-auto text-info">
                    <span class="ml-2" *ngFor="let tag of question.tags">{{tag}}</span>
                  </div>
    
                </a>
                
              </div>
              <!-- End Display as List -->

            </div>

            <div *ngIf="noAnswer.length>0" class="tab-pane fade" id="questions-no-answer" role="tabpanel" aria-labelledby="questions-no-answer-tab">
              
              <!-- Display as Cards -->
              <div class="row" *ngIf="displayOrder==0">
                <div class="col-12">

                  <a routerLink="../{{question._id}}" class="no-text-deco" *ngFor="let question of noAnswer">
                    <app-card-question [question]="question"></app-card-question>
                  </a>

                </div>
              </div>
              <!-- End Display as Cards -->

              <!-- Display as List -->
              <div class="list-group list-group-flush" *ngIf="displayOrder==1">

                <a *ngFor="let question of noAnswer" routerLink="../{{question._id}}"
                  class="list-group-item list-group-item-action d-flex justify-content-start align-items-center font-weight-light">
    
                  <i class="fal fa-comment fa-lg fa-fw text-info mr-2" aria-hidden="true"></i>
    
                  <strong *ngIf="question.title">{{question.title}}</strong>
                  <span *ngIf="!question.title" class="text-muted">Sans Titre</span>
                  <span class="ml-1 text-muted">&bull; {{question.createdAt | timeAgo}}</span>
    
                  <i *ngIf="isStar(question)" class="fas fa-star text-warning ml-2" aria-hidden="true"></i>
    
                  <div *ngIf="question.tags.length>0" class="ml-auto text-info">
                    <span class="ml-2" *ngFor="let tag of question.tags">{{tag}}</span>
                  </div>
    
                </a>
                
              </div>
              <!-- End Display as List -->

            </div>

            <div *ngIf="hasBest.length>0" class="tab-pane fade" id="questions-has-best" role="tabpanel" aria-labelledby="questions-has-best-tab">
              
              <!-- Display as Cards -->
              <div class="row" *ngIf="displayOrder==0">
                <div class="col-12">

                  <a routerLink="../{{question._id}}" class="no-text-deco" *ngFor="let question of hasBest">
                    <app-card-question [question]="question"></app-card-question>
                  </a>

                </div>
              </div>
              <!-- End Display as Cards -->

              <!-- Display as List -->
              <div class="list-group list-group-flush" *ngIf="displayOrder==1">

                <a *ngFor="let question of hasBest" routerLink="../{{question._id}}"
                  class="list-group-item list-group-item-action d-flex justify-content-start align-items-center font-weight-light">
    
                  <i class="fas fa-check text-success fa-lg fa-fw mr-2" aria-hidden="true"></i>
    
                  <strong *ngIf="question.title" class="text-success">{{question.title}}</strong>
                  <span *ngIf="!question.title" class="text-muted">Sans Titre</span>
                  <span class="ml-1 text-muted">&bull; {{question.createdAt | timeAgo}}</span>
    
                  <i *ngIf="isStar(question)" class="fas fa-star text-warning ml-2" aria-hidden="true"></i>
    
                  <div *ngIf="question.tags.length>0" class="ml-auto text-info">
                    <span class="ml-2" *ngFor="let tag of question.tags">{{tag}}</span>
                  </div>
    
                </a>
                
              </div>
              <!-- End Display as List -->

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>

